@charset 'UTF-8';

/*
	Verti 2.5 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

@font-face {
    font-family: 'open_sansregular';
    src: url('/fonts/OpenSans-Regular-webfont.eot');
    src: url('/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/


	*
	{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	
	html
	{
		background: #f7f7f7 url('/assets/images/background.jpg') no-repeat;
		background-size: cover;
	}

	body
	{
		font-family: 'Open Sans', sans-serif;
		font-size: 12pt;
		color: #696969;
		font-weight: 300;
		background: url('/assets/images/bgshadow.png') top left no-repeat;
		background-size: 100% 100%;
	}
	
	a
	{
		color: #0090c5;
		text-decoration: underline;
	}
	
		a:hover
		{
			text-decoration: none;
		}
	
	h1, h2, h3, h4, h5, h6
	{
		color: #444;
		font-weight: 800;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		color: inherit;
		text-decoration: none;
		outline: 0;
	}

	
		form input,
		form select,
		form textarea
		{
			-webkit-appearance: none;
		}
			
	br.clear
	{
		clear: both;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 2em;
	}
	
	section,
	article
	{
		margin-bottom: 5em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	.image
	{
		display: inline-block;
		outline: 0;
	}
	
		.image img
		{
			display: block;
			width: 100%;
			border-radius: 8px;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2.5em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2.5em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

	.button
	{
		position: relative;
		display: inline-block;
		background: #0090c5;
		color: #fff;
		text-decoration: none;
		border-radius: 6px;
		font-weight: 800;
		outline: 0;
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		-o-transition: background-color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
	}

	.back-button {
		cursor: pointer;
	}
	
		.button:hover
		{
			background: #10a0d5;
		}
	
		.button:active
		{
			background: #20b0e5;
		}
	
		.button.fa
		{
		}
		
			.button.fa:before
			{
				position: relative;
			}
	
		.button.alt
		{
			background: #444444;
			color: #fff;
		}

			.button.alt:hover
			{
				background: #c8100d;
				color:#fff;
				text-shadow: 0 2px 7px rgba(0, 0, 0, 0.35);
			}

			.button.alt:active
			{
				background: #d9531e;
			}

	.byline
	{
		display: block;
	}

	header
	{
		margin: 0;
	}
	
		header h2, header h3
		{
			margin: 0 0 1.25em 0;
		}
		
		header .byline
		{
			margin: 0;
		}

	footer
	{
		margin: 2.5em 0 0 0;
	}
	
	.box
	{
		background: #fff;
		border-radius: 6px;
		box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.015);
		box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
	}

	#banner p.browse {
		color:#c8100d;
	}
	
	li.phone-number {
	  color:#ffffff;
  	font-family:'Open Sans', Helvetica, sans-serif;
  	font-size:1.5em;
  	text-shadow:rgba(0, 0, 0, 0.14902) 0 2px 4px;
  	text-transform:uppercase;
  	}


/*********************************************************************************/
/* Widgets                                                                       */
/*********************************************************************************/

		.widget-thumbnails .grid
		{
			margin-bottom: 2.5em;
		}

	.widget-contact
	{
	}
	
		.widget-contact ul
		{
			overflow: hidden;
			position: relative;
			left: -4px;
			top: 4px;
			margin-bottom: 1.5em;
		}
		
			.widget-contact ul li
			{
				display: inline-block;
				margin-right: 0.25em;
			}

				.widget-contact ul li a
				{
					display: inline-block;
					width: 2.5em;
					height: 2.5em;
					text-align: center;
					line-height: 2.5em;
					border-radius: 0.35em;
					outline: 0;
					opacity: 0.75;
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-o-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
					background: #555;
					
				}
				
				.widget-contact ul li a.facebook {
					background:#3b5998;
				}
				
				.widget-contact ul li a.facebook:hover {
					background:#093ca9;
				}
				.widget-contact ul li a.twitter {
					background: #4099ff;
				}
				.widget-contact ul li a.twitter:hover {
					background: #036fec;
				}
				.widget-contact ul li a.envelope-o {
					background: #555555;
					}
				.widget-contact ul li a.envelope-o:hover {
					background: #222222;
					}
				.widget-contact ul li a.instagram {
					background: #e05585;
					}
				.widget-contact ul li a.instagram:hover {
					background: #d53a5a;
					}
				
					.widget-contact ul li a:before
					{
						color: #f3f3f3;
						font-size: 1.75em;
						line-height: 1.5em;
					}

					.widget-contact ul li a:hover
					{
						background: #333;
					}
				
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
	width:100%;
	}
	
	#banner
	{
		/*margin-top: 0;*/
	}
	
	#main-wrapper
	{
		background: #fff;
		box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
	}

	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
	}
	
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		overflow: hidden;
	}

		#logo h1
		{
			background: transparent;
			color: #fff;
			border-radius: 6px;
			font-family: 'Oleo Script', serif;
			font-weight: 400;
		}
		
		#logo span
		{
			font-weight: 800;
		}
	
/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
	}
	
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

		#footer a
		{
			color: inherit;
		}
	
	#copyright
	{
		color: #aaa;
	}
	
		#copyright a
		{
			color: inherit;
		}