html {
  background-size: cover;
  height: auto;
  background-position: top center;
  background-attachment: fixed;
}

body {
  min-width: 0;
}

.container {
  max-width: 1200px;
  padding: 0 4%;
  width: 100%;
}

#header {
  padding-right: 250px;
  padding-top: 1em;
  padding-bottom: 1em;
}

#logo h1 img {
  width: 100%;
  margin: 20px 0;
  max-width: 400px;
}

#nav {
  top: 35%;
}

#nav ul li {
  display: inline-block;
  float: none;
}

#nav ul li:first-child {
  padding-left: 0;
}

#nav .phone-number a {
  font-weight: normal;
  padding: 0;
}

#nav .phone-number a:hover {
  background: transparent;
}

#banner {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.65);
}

#banner .intro {
  margin-top: 0;
  margin-bottom: 1em;
}

/*#banner .button.big {
  font-size: 1.13em;
}*/

/*#banner .button i.fa {
  right: 1em;
}*/

#banner .button.big {
  font-size: 1.2em;
  text-align: left;
  padding-left: 1.2em;
  padding-right: 2.5em;
  line-height: 1.5em;
}

#banner .button i.fa {
  font-size: 1.5em;
  right: 0.6em;
}

#main-wrapper {
  background-color: rgba(255, 255, 255, 0.85);
  margin-top: 2em;
  padding-top: 3em;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.5);
}

#main-wrapper .row {
  margin-left: 0;
}

#main-wrapper .row > * {
  padding-left: 0;
}

body.homepage #content {
  padding-left: 0;
}

#footer h2 {
  margin-bottom: 0.5em;
}

#footer .widget-contact ul li a {
  text-decoration: none;
  color: #FFF;
  font-size: 1.5em;
  box-sizing: border-box;
  width: 2em;
  height: 2em;
  line-height: 2em;
}

#copyright {
  color: white;
  text-align: right;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 2em;
}

@media all and (max-width: 575px) {

  #header {
    padding-right: 0;
  }

  #logo h1 {
    float: none;
    margin-right: -2%;
    margin-left: -2%;
    text-align: center;
    margin-bottom: 0.5em;
  }

  #logo h1 a {
    display: block;
    margin: 0 auto;
    max-width: 350px;
  }

  #logo h1 a img {
    width: 100%;
  }

  #nav {
    position: relative;
    top: auto;
    right: auto;
  }

  #nav ul {
    margin: 0;
    text-align: center;
  }

  #main-wrapper {
    margin-top: 1em;
    padding-top: 2em;
  }

  #main-wrapper h2 {
    font-size: 1.5em;
  }

  #main-wrapper h3 {
    font-size: 1.1em;
    margin-top: 1.5em;
  }

  #main-wrapper p {
    font-size: 0.9em;
    line-height: 1.6em;
  }
}

@media all and (max-width: 940px) {

  #banner {
    margin-top: 2em;
  }
}

@media all and (max-width: 970px) {

  #banner {
    margin-top: 20px;
    text-align: center;
  }

  #banner .row {
    margin: 0;
  }

  #banner .row > * {
    float: none;
    padding: 0;
    width: auto;
  }

  #banner .intro {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: 1.1em;
    line-height: 1.5em;
  }

  #banner .browse {
    font-size: 1.25em;
    font-weight: 600;
    margin-bottom: 1.5em;
  }

  #banner ul {
    margin: 0;
  }

  /*#banner .button.big {
    font-size: 1.2em;
    text-align: left;
    padding-left: 1.2em;
    padding-right: 2.5em;
    line-height: 1.5em;
  }*/


  #footer-wrapper {
    padding: 2em 0;
  }

  #footer {
    text-align: center;
    margin-top: 0;
  }

  #footer .row > * {
    float: none;
    width: 100%;
  }

  #copyright {
    padding-top: 0;
    text-align: center;
  }
}