/*
	Verti 2.5 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		min-width: 1200px;
		line-height: 2.25em;
		min-height: 100%;
	}

	h2
	{
		font-size: 2.25em;
		margin: 0 0 1.1em 0;
		line-height: 1em;
	}
	
	h3
	{
		font-size: 1.35em;
		margin: 1.25em 0 0.25em 0;
	}

	.pad-right
	{
		margin-right: 1.5em;
	}

	.pad-left
	{
		margin-left: 1.5em;
	}

		body.homepage #content
		{
			padding-left: 1.75em;
		}

		body.right-sidebar #content
		{
			padding-right: 1.75em;
		}
	
	.button
	{
		font-size: 1.35em;
		padding: 0.8em 1.5em 0.8em 1.5em;
	}

		.button.big
		{
			font-size: 2.25em;
			padding: 0.8em 0.9em 0.8em 0.9em;
		}

			.button.fa:before
			{
				margin-right: 0.5em;
				top: 0.05em;
			}
	
	.box
	{
		padding: 2em;
	}
		
	.box-feature
	{
		padding: 0;
	}
		
		.box-feature .inner
		{
			padding: 4em 2em 3em 2em;
		}
		
		.box-feature h2
		{
			font-size: 1.35em;
		}

		.box-feature p
		{
			margin: 0;
		}

		.box-feature .image
		{
			position: relative;
			margin: 0;
		}

			.box-feature .image img
			{
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

/*********************************************************************************/
/* Widgets                                                                       */
/*********************************************************************************/


		.widget-thumbnails .grid
		{
			margin: 0 0 3em 0;
		}

		.widget-thumbnails .image
		{
			margin: 0;
		}
	
/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		padding:0;
	}
	
	#features-wrapper
	{
		padding: 3em 0 3em 0;
	}
	
	#main-wrapper
	{
		padding: 5em 0 5em 0;
	}
	
	#footer-wrapper
	{
		padding: 2em 0 8em 0;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

		#logo h1
		{
			float: left;
			margin: 0 1.5em 0 0;
			padding: 0;
			font-size: 3.25em;
			letter-spacing: 0.05em;
		}

		#logo span
		{
			line-height: 4.5em;
			letter-spacing: 0.025em;
			font-size: 0.9em;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		right: 0;
		top: 70px;
		font-size: 0.9em;
	}
			#nav ul li
			{
				float: left;
				padding-left: 1.5em;
			}
				#nav ul li a
				{
					font-weight: 800;
					letter-spacing: 0.025em;
					color: #ffffff;
					text-decoration: none;
					border-radius: 6px;
					padding: 0.5em 1em 0.5em 1em;
					-moz-transition: background-color .25s ease-in-out;
					-webkit-transition: background-color .25s ease-in-out;
					-o-transition: background-color .25s ease-in-out;
					-ms-transition: background-color .25s ease-in-out;
					transition: background-color .25s ease-in-out;
				}
				#nav ul li:hover a
				{
					background: rgba(255,255,255,0.5);
				}
				#nav ul li.current_page_item a
				{
					background: #c8100d;
					color: #fff;
				}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 6.25% 6.25% 3.5% 6.25%;
	}

		#banner h2
		{
			font-size: 3.5em;
			margin: 0.1em 0 0.35em 0;
		}

		#banner h3 {
			font-weight:normal;
			
		}
		
		#banner p
		{
			font-size: 2.25em;
			line-height: 1.35em;
			margin: 0;
			color:#D9531E;
			font-weight:bold;
		}
		
		#banner .button
		{
			width: 100%;
			margin-bottom: 0.5em;
		}
		
			#banner .button i.fa
			{
				position: absolute;
				right: 0.15em;
				top: 50%;
				margin-top: -0.5em;
			}
		#banner ul
		{
			margin-left: 2em;
		}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/
		#content h3
		{
			margin-top: 2.25em;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#footer h2
		{
			font-size: 1.35em;
			color:#fff;
		}

	#copyright
	{
		/*padding: 4em 0 0 0;*/
		text-align: right;
		color:#000000;
	}