<!-- Banner Wrapper -->
<div id="banner-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Banner -->
					<div id="banner" class="box">

						<div>
							<div class="row">
								<div class="7u">
									<h3 class="intro">The largest menu in town... DELIVERED!</h3>
									<p class="browse">Choose the location nearest you, and start ordering!</p>
								</div>
								<div class="5u">
									<ul>
                                        <li>
                                            <a class="button alt big back-button" (click)="backToStates()"><&nbsp;&nbsp;back</a>
                                        </li>
										<li *ngFor="let city of cities">
											<a href="https://{{ city.subdomain }}.emileeexpress.com" class="button alt big" target="_blank">
												{{ city.name }}
												<i class="fa fa-arrow-circle-right"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>

			</div>
		</div>
	</div>
</div>