<!-- Header Wrapper -->
<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Header -->
                    <header id="header">

                        <!-- Logo -->
                            <div id="logo">
                                <h1>
                                    <a href="/" id="logo">
                                        <img class="logo-img-standard" src="/assets/images/emilee-express-logo.png">
                                    </a>
                                </h1>
                            </div>

                        <!-- Nav -->
                            <nav id="nav">
                                <ul>
                                    <li><a routerLink="/">Home</a></li>
                                    <li><a routerLink="/faq">FAQ</a></li>
                                    <li><a routerLink="/contact">Contact</a></li>
                                </ul>
                            </nav>

                    </header>

            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

<!-- Footer Wrapper -->
<div id="footer-wrapper">

<footer id="footer" class="container">
    <div class="row">
        <div class="4u">
            <section class="widget-contact">
                <h2>Contact Us</h2>
                <ul>
                    <li>
                        <a href="https://facebook.com/emileeexpress" target="_blank" class="facebook solo">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/emileeexpress" class="instagram solo">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="8u">
            <div id="copyright">
                &copy; Emilee Express, LLC. All rights reserved.
            </div>
        </div>

    </div>
</footer>
</div><!-- #footer-wrapper -->