<!-- Banner Wrapper -->
<div id="banner-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">

				<!-- Banner -->
					<div id="banner" class="box">

						<div>
							<div class="row">
								<div class="7u">
									<h3 class="intro">The largest menu in town... DELIVERED!</h3>
									<p class="browse">Choose the location nearest you, and start ordering!</p>
								</div>
								<div class="5u">
									<ul>
										<li *ngFor="let location of locations | keyvalue">
											<a [routerLink]="['states/', location.key ]" class="button alt big">
												{{ location.value.displayName }}
												<i class="fa fa-arrow-circle-right"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>

			</div>
		</div>
	</div>
</div>