<!-- Main Wrapper -->
<div id="main-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u skel-cell-important">

				<!-- Content -->
				<div id="content">
					<article class="last">

						<h2 style="text-align:center;">Frequently Asked Questions</h2>
						
						<hr/>

						<span class="col">

							<h3>Do I need to tip my driver?</h3>
							<p>Tips are not required but are greatly appreciated!! Show your mobile waiter/personal shopper some LOVE and appreciation by tipping any amount you choose. You may tip in cash or by choosing one of the recommended tip options at checkout. 100% of your tip goes directly to your mobile waiter/personal shopper!</p>

							<h3>Are there any additional fees when I place an order?</h3>	
							<p>Our fees are fairly simple. We charge a small delivery fee for our service. We also charge a service fee which helps us pay to have this site. This includes hosting, developing and credit card processing. We also have to pay people to help us keep up with the extensive menus. We have different arrangements with each of our partners. Some partners have agreed to help us with some of these costs which lowers their service charge. Each of our partners is unique and has a different aggreement to offset the costs in order to operate our service.</p>

							<h3>What happens if I'm not home or don't answer the door when my order arrives?</h3>
							<p>Company policy is that we do not leave food at the door unless otherwise specified. If the customer does not answer and is not to be found, our drivers are instructed to keep the food and move on to the next stop. We will not issue any refunds to customers who are not there to take the food unless we were aware in advance or there was an emergency.</p>

							<h3>Is there a reward for sending photos of my food?</h3>
							<p>We would love to see photos of your food! $1.00 will be awarded for new pictures on menu items with no previous submissions. Menu items with only 1 previous submission will receive 0.50 cents.  No awards will be given for pictures that already have two or more submissions.  We also have to be able to see the food/drink clearly. We will not submit items in closed packages, cartons, or cups. Can't wait to see your pics!</p>

							<h3>Will I be charged extra for things like dipping sauces, extra toppings, etc?</h3>
							<p>Any items on the menu that are requested with your order but not paid for will be added either at delivery on cash orders/checks or online for card orders before they are processed at the end of the business day. Items include but are not limited to: Cheese, Bacon, Avocado, Extra Toppings, Dipping Sauces, Salad Dressings, etc. We are charged for those items when we pick up. No exceptions.</p>

						</span><!-- .col -->

					</article>
				</div>

			</div>
		</div>
	</div>
</div>